<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="static/images/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" method="post" action="/submit" id="usrform">
					<span class="login100-form-title">
						Enter User Details
					</span>

                <div class="wrap-input100 validate-input" data-validate="Valid user is required">
                    <input class="input100" type="text" name="user" placeholder="User" value="Selvaram">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Phone number is required">
                    <input class="input100" type="number" name="phone" placeholder="Phone" value="2134087788">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    Product Type<br>
                    <input class="radio" type="radio" name="type" value="Lime" checked> Lime
                    <input class="radio" type="radio" name="type" value="Cherry"> Cherry
                    <input class="radio" type="radio" name="type" value="Vanilla"> Vanilla
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Send
                    </button>
                </div>
                <br><br><br>
            </form>

            <br><br><br><br>
            <div class="wrap-input100">
                <table>
                    <tr>
                        <td>
                            <br>
                            <br><br><br>
                            <div class="wrap-input100" data-validate="Text is required">
                                <textarea name="comment" form="changefirst" rows="5" cols="60" wrap="soft">{% block body %}{{mydict["first"]}}{% endblock %}</textarea>
                            </div>
                        </td>
                        <td>
                            <form class="login100-form validate-form" method="post" action="/changefirst"
                                  id="changefirst">
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn">
                                        Update First Message
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            <br><br><br>
                            <div class="wrap-input100" data-validate="Text is required">
                                <textarea name="comment" form="changepos" rows="5" cols="60" wrap="soft">{% block body2 %}{{mydict["pos"]}}{% endblock %}</textarea>
                            </div>
                        </td>
                        <td>
                            <form class="login100-form validate-form" method="post" action="/changepos" id="changepos">
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn">
                                        Update Positive Response
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            <br><br><br>
                            <div class="wrap-input100" data-validate="Text is required">
                                <textarea name="comment" form="changeneg" rows="5" cols="60" wrap="soft">{% block body3 %}{{mydict["neg"]}}{% endblock %}</textarea>
                            </div>
                        </td>
                        <td>
                            <form class="login100-form validate-form" method="post" action="/changeneg" id="changeneg">
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn">
                                        Update Negative Response
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/bootstrap/js/popper.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/tilt/tilt.jquery.min.js"></script>
<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})








</script>
<!--===============================================================================================-->
<script src="static/js/main.js"></script>

</body>
</html>